html, body {
    background-color: #C0FDFB
}

.jumbotron {
    background-color: #0FFF95
}

.video {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width:100%;
    height: 475px;
    color: #fff;
    overflow: hidden;
    margin: 0 auto;
}

}